<component name="libraryTable">
  <library name="spring-beans-5.3.14">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.3.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.3.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.3.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-5.3.14.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>