<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="selectAll" resultType="entity.Cuser">
        select username,canteen from canteen_manager;
    </select>
    <select id="selectByusername" resultType="entity.User">
        select * from ts where username = #{username};
    </select>
</mapper>